*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: #FFFFFF;
}
img {
    display: block;
    max-width: 100%;
}

.title_div {
    text-align: center;
    margin: 5px;
}
.title {
    padding-left: 44,4%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.under_title_text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

h3 {
    margin: 15px;
    height: 16px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
p {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #5D5D5D;
}
.price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.products {
  
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: stretch;
    text-align: center;
    align-content: center;
}

.product {
    margin: 30px;
    left: 14.38%;
    right: 63.12%;
    top: 41.2%;
    bottom: 43.63%;
    height: 581px;
    width: 360px;
    left: 230px;
    top: 1577px;
    border-radius: 0px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;

    }