*{
    margin: 0;
    padding: 0;
}
.content {
    position: relative;
}
.current {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: azure;
    text-align: center;
    background-color: #09d9f5;
    margin-bottom: 5px;
}
.buttons {
    /* opacity: .5; */
    padding: 25px;
    margin: 5px;
    /* top: 25px; */
    left: 0;
    /* width: 50vw; */
    /* min-height: 100vh; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    
    
}
.player{

    display: flex;
    justify-content: center;
    
}
.video{
    /* margin: 5px; */
    /* border: 3px solid #09f519; */
}
.video2 {
    margin: 50px;
    width: 30vh;
    align-items: center;
}
.nextVideos{
    display: flex;
    justify-content: space-around;
}
.videoCreate {
    border: 3px solid #09d9f5;
    border-radius: 20px;
    width: 25vw;
}
